<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-36</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_V</key>
		<integer>-25</integer>
		<key>@MMK_R_V.alt</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_W.alt</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-32</integer>
		<key>@MMK_R_Y.alt</key>
		<integer>-32</integer>
	</dict>
	<key>@MMK_L_A.alt</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-46</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-42</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_V.alt</key>
		<integer>-35</integer>
		<key>@MMK_R_W.alt</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-32</integer>
		<key>@MMK_R_Y.alt</key>
		<integer>-38</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-20</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-22</integer>
		<key>@MMK_R_Z</key>
		<integer>-18</integer>
		<key>@MMK_R_a</key>
		<integer>-22</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-16</integer>
		<key>@MMK_R_g</key>
		<integer>-22</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-22</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_s</key>
		<integer>-16</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-12</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_F.alt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-18</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-22</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-42</integer>
		<key>@MMK_R_Z</key>
		<integer>-12</integer>
		<key>@MMK_R_a</key>
		<integer>-18</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-8</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-8</integer>
		<key>@MMK_R_z</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-58</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-38</integer>
		<key>@MMK_R_V</key>
		<integer>-65</integer>
		<key>@MMK_R_V.alt</key>
		<integer>-58</integer>
		<key>@MMK_R_W.alt</key>
		<integer>-55</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Y.alt</key>
		<integer>-50</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-55</integer>
		<key>@MMK_R_quotedbl</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_L.alt</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-88</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-52</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-26</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_V.alt</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-28</integer>
		<key>@MMK_R_W.alt</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-26</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-35</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-45</integer>
		<key>@MMK_R_Z</key>
		<integer>-24</integer>
		<key>@MMK_R_a</key>
		<integer>-22</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-12</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-14</integer>
		<key>@MMK_R_period</key>
		<integer>-85</integer>
		<key>@MMK_R_s</key>
		<integer>-12</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-8</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-26</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-36</integer>
		<key>@MMK_R_J</key>
		<integer>-42</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-42</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_O.alt</key>
		<integer>-26</integer>
		<key>@MMK_R_a</key>
		<integer>-28</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-22</integer>
		<key>@MMK_R_colon</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-26</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-28</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_period</key>
		<integer>-55</integer>
		<key>@MMK_R_s</key>
		<integer>-28</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-24</integer>
		<key>@MMK_R_z</key>
		<integer>-22</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_T.alt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-22</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_J</key>
		<integer>-45</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-45</integer>
		<key>@MMK_R_O</key>
		<integer>-26</integer>
		<key>@MMK_R_O.alt</key>
		<integer>-26</integer>
		<key>@MMK_R_a</key>
		<integer>-32</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-28</integer>
		<key>@MMK_R_colon</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-26</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-28</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-28</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-24</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-18</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-22</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-28</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-24</integer>
		<key>@MMK_R_colon</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_o</key>
		<integer>-24</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-28</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-22</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_V.alt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-25</integer>
		<key>@MMK_R_J</key>
		<integer>-28</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_O.alt</key>
		<integer>-25</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-26</integer>
		<key>@MMK_R_colon</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-28</integer>
		<key>@MMK_R_o</key>
		<integer>-28</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-32</integer>
		<key>@MMK_R_period</key>
		<integer>-35</integer>
		<key>@MMK_R_s</key>
		<integer>-22</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-32</integer>
	</dict>
	<key>@MMK_L_W.alt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-25</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>@MMK_R_O.alt</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-56</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-46</integer>
		<key>@MMK_R_J</key>
		<integer>-48</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-34</integer>
		<key>@MMK_R_Z</key>
		<integer>-12</integer>
		<key>@MMK_R_a</key>
		<integer>-42</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-48</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-75</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-48</integer>
		<key>@MMK_R_z</key>
		<integer>-28</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_Y.alt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-38</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-56</integer>
		<key>@MMK_R_J</key>
		<integer>-48</integer>
		<key>@MMK_R_J.alt</key>
		<integer>-34</integer>
		<key>@MMK_R_Z</key>
		<integer>-12</integer>
		<key>@MMK_R_a</key>
		<integer>-42</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-48</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-75</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-38</integer>
		<key>@MMK_R_z</key>
		<integer>-18</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_quotedbl</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-18</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-12</integer>
		<key>@MMK_R_g</key>
		<integer>-18</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_r.alt</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-18</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-12</integer>
		<key>@MMK_R_g</key>
		<integer>-18</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_t.alt</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_period</key>
		<integer>-48</integer>
	</dict>
	<key>@MMK_L_w.alt</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-28</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-12</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-48</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-15</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_y.alt</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-28</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
	</dict>
	<key>B.alt</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-20</integer>
		<key>@MMK_R_Y.alt</key>
		<integer>-20</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Y.alt</key>
		<integer>-20</integer>
	</dict>
	<key>O.alt</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-26</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-26</integer>
		<key>@MMK_R_W.alt</key>
		<integer>-20</integer>
	</dict>
	<key>P.alt</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-32</integer>
		<key>@MMK_R_A.alt</key>
		<integer>-12</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-18</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-12</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_g.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_period</key>
		<integer>-55</integer>
		<key>@MMK_R_s</key>
		<integer>-12</integer>
		<key>@MMK_R_s.alt</key>
		<integer>-8</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>@MMK_R_z.alt</key>
		<integer>-8</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-32</integer>
		<key>@MMK_R_O.alt</key>
		<integer>-28</integer>
		<key>@MMK_R_T</key>
		<integer>-26</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-30</integer>
	</dict>
	<key>R.alt</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-52</integer>
		<key>@MMK_R_O.alt</key>
		<integer>-52</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_T.alt</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-66</integer>
		<key>@MMK_R_V.alt</key>
		<integer>-66</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-45</integer>
	</dict>
	<key>f.alt</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-45</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
		<key>@MMK_R_w</key>
		<integer>-10</integer>
	</dict>
	<key>o.alt</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-25</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-85</integer>
	</dict>
	<key>seven.ss01</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-85</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
	</dict>
	<key>v.alt</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-28</integer>
		<key>@MMK_R_a.alt</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_o.alt</key>
		<integer>-35</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
	</dict>
</dict>
</plist>
